body {
    background-color: #3418db;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff;
    padding: 10px;
}
#passions {
  margin-top: 20px;
}
nav a {
    color: blue;
    font-size: 20px;
    text-decoration: none;
}

header {
    background-color: #fff;
    color: blue;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

#profile {
    margin: 20px;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
}

#passions {
    margin: 20px;
}

.passion {
    margin: 20px 0;
    color: blue;
}

h2 {
    font-size: 28px;
    color: blue;
}

h3 {
    font-size: 20px;
    color: blue;
}
body {
  font-family: sans-serif;
  background-color: blue;
}

header {
  background-color: blue;
  color: blue;
  padding: 10px;
}

h1 {
  font-size: 3em;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: blue;
}

main {
  margin-top: 10px;
}

section {
  padding: 20px;
}

img {
  max-width: 100%;
}

footer {
  background-color: #000000;
  color: blue;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.presentation {
  background-color: blue;
    color: blue;
}

.services {
  background-color: blue;
    color: blue;
}

.apropos {
  background-color: blue;
color: blue;
}

.contact {
  background-color: blue;
    color: blue;
}
